
/*! 
 *   AHUJA AUTO ABHIKARAN 
 *   Author: Webcraft India
 */
/*
    Core: General style
----------------------------
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

html,
body {
    font-family: 'Open Sans', verdana, Arial;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
    color: #2C2C2C;
}

a {
    color: #000;
}

    a:hover,
    a:active,
    a:focus {
        outline: none;
        text-decoration: none;
        color: #e41c39;
    }

    a[href^=mailto] {
        word-break: break-all;
    }
/* Layouts */
.wrapper {
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}

    .wrapper:before,
    .wrapper:after {
        display: table;
        content: " ";
    }

    .wrapper:after {
        clear: both;
    }
/* Utility */
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    color: #000;
}

h1, h2,
.h1,
.h2 {
}
/* All images should be responsive */
img {
    max-width: 100% !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}

.text-justify {
    text-align: justify;
}

.red {
    color: #e41c39;
}

div#map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

    div#map-canvas img {
        max-width: none !important;
    }

#showall {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: #e41c39;
    border: 1px solid;
    padding: 10px 20px;
    display: none;
}

    #showall:hover {
        color: #000;
    }
/* 10px padding and margins */
.pad {
    padding: 10px;
}

.margin {
    margin: 10px;
}

.container-fluid {
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}
/* Display inline */
.inline {
    display: inline;
    width: auto;
}
/* Remove borders */
.no-border {
    border: 0px !important;
}
/* borders */
.grey-border {
    border: 1px solid #ccc;
}
/* Remove padding */
.no-padding {
    padding: 0px !important;
}
/* Remove margins */
.no-margin {
    margin: 0px !important;
}
/* Remove box shadow */
.no-shadow {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
/* Pagination */
.pagination {
    margin: 0;
}

    .pagination li a {
        color: #222;
    }
/* Remove border radius */
.flat {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
/* box */
.well {
    background-color: #fff;
    min-height: 50px;
    padding: 25px 0 10px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
}

.column {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

/* 
   All form elements including input, select, textarea etc.
-----------------------------------------------------------------
*/
form {
    margin: 0;
}

@media screen and (min-width: 767px) {
    .content label {
        text-align: right;
        width: 100%;
    }
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    border: 0;
    outline: 0;
}

.input-group a {
    color: #222;
}

.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*padding: 10px 20px;*/
    border-radius: 0;
}

select.form-control {
    height: auto !important;
}

.finance .emi:not(:empty):after {
    content: '/-';
}

@media screen and (min-width: 992px) {
    textarea.form-control {
        height: 80px;
    }
}

.form-group:before,
.form-group:after {
    content: '';
    display: block;
    height: 1px;
    clear: both;
}

.form-control:focus {
    border-color: #e41c39 !important;
    box-shadow: none;
}
/* Select group */
.form-control option {
    padding: 2px 5px 2px 15px;
}

    .form-control option[disabled] {
        color: #ccc;
    }
/* Input group */
.input-group .input-group-addon {
    background-color: #f4f4f4;
}

/* button groups */
.btn {
    border: 1px solid #446c7e;
}

[class*="btn-mahindra"] {
    background: #e41c39;
    border: 0;
    border-radius: 0px;
    color: #fff;
    font-size: 13px;
    padding: 5px 12px;
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, sans-serif;
    width: auto;
    min-width: 100px;
    font-weight: bold;
    letter-spacing: 1px;
}

@media screen and ( min-width: 768px) {
    [class*="btn-mahindra"] {
    }
}

.btn-mahindra-grey {
    background: #6A6665;
}

.btn-mahindra:hover,
.btn-mahindra:focus,
.btn-mahindra:active,
.btn-mahindra.active,
.open .dropdown-toggle.btn-success {
    color: #fff;
}

.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
    border-radius: 0;
}
/* Checkbox and radio inputs */
.checkbox,
.radio {
    padding-left: 0;
}
/* Error */
input.has-error {
    border-color: #f56954;
}

.error {
    color: #f56954;
    font-size: 14px;
    margin-bottom: -20px;
    position: relative;
    text-align: center;
    top: -1px;
}

.req {
    color: #ff0000;
    position: absolute;
    right: 0;
    top: 0;
}

/* 

/* 
    Component: alert
------------------------
*/
.alert {
    margin-bottom: 20px;
    position: relative;
}

    .alert > .fa, .alert > .glyphicon {
        background: inherit;
        border: inherit;
        border-radius: 50%;
        height: 35px;
        line-height: 35px;
        margin-left: 5px;
        margin-right: 5px;
        position: relative;
        text-align: center;
        width: 35px;
    }

.alert-dismissable .close {
    color: inherit;
    position: relative;
    right: 9px;
    top: 7px;
}

.alert .alert {
    margin: 0 5px;
}
/* 
    Accordion 
*/
.panel {
    margin-bottom: 15px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid #efefef;
}

    .panel-heading h4 {
        margin: 0;
    }

.panel-body {
    padding: 15px 15px 5px;
}

/*
    Pull
*/

@media screen and (max-width: 480px) {
    .pull-sm-right, .pull-sm-left {
        float: none !important;
    }
}

@media screen and (min-width: 768px) {
    .pull-sm-right {
        float: right !important;
    }

    .pull-sm-left {
        float: left !important;
    }
}

.upper {
}

.pad30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

    .pad30 h1 {
        margin-top: 0;
    }


h1.section-head:before {
    content: "";
    width: 75px;
    height: 10px;
    background: #e41c39;
    position: absolute;
    top: -30px;
}

h1.section-head {
    /*border-bottom: 1px dashed #bbb;*/
    padding-bottom: 20px;
    margin-bottom: 35px;
    text-transform: uppercase;
    position: relative;
    margin-top: 50px;
}

.mb30 {
    margin-bottom: 30px;
}

.box h4 {
    margin-top: 20px;
}

.bg-grey {
    background: #ECECEC;
    padding: 15px 0;
}

.box {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .box .bg-grey:last-child {
        margin-bottom: -15px;
    }
/* 
.carousel-navigation
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
}
*/
.hidenav .carousel-navigation {
    display: none;
}

.carousel-navigation .carousel-control {
    background: none;
    filter: none;
    width: 5%;
    color: #666666;
    opacity: 1;
    font-size: 2em;
}

    .carousel-navigation .carousel-control > * {
        margin-top: -30px;
        width: auto;
    }

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 0;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right: 0;
}
/* TABS */
.modiTabs .nav-tabs {
    border: 0;
    margin-bottom: 10px;
}

    .modiTabs .nav-tabs > li {
        display: inline-block;
        min-width: 175px;
        margin-left: 10px;
        float: none !important;
    }

        .modiTabs .nav-tabs > li:first-of-type {
            margin-left: 0;
        }

@media screen and (max-width: 1199px) {
    .modiTabs .nav-tabs {
        text-align: center;
    }

        .modiTabs .nav-tabs > li {
            margin: 0 0 7px;
            width: 24%;
            display: inline-block;
        }
}

@media screen and (max-width: 767px) {
    .modiTabs .nav-tabs > li {
        width: 49%;
    }
}

.modiTabs .nav-tabs > li > a,
.modiTabs .nav-tabs > li > label {
    padding: 3px 10px;
    display: block;
    text-align: center;
    border: 1px solid #000;
    border-radius: 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #000 !important;
}

    .modiTabs .nav-tabs > li.active > a, .modiTabs .nav-tabs > li.active > a:hover, .modiTabs .nav-tabs > li > a:hover, .modiTabs .nav-tabs > li.active > a:focus, .modiTabs .nav-tabs > li > input:checked + label {
        background: #e41c39;
        border: 0;
        color: #fff !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

.modiTabs .nav-tabs > li > input {
    display: none;
}

.ModiContent {
    margin-top: 30px;
}

    .ModiContent .section-head {
        margin-top: 70px;
    }

@media screen and (max-width: 767px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }
}

/* Video */
.videos {
    margin: 0px auto;
    padding: 20px 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-bottom: 54.5%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

    .videos iframe,
    .videos object,
    .videos embed {
        display: block;
        margin: 0px auto;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
    }

/* 
    Header 
*/
#header {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 100;
    transition: 0.5s margin;
    /*background: #fff;
    background: #e41c39;*/
}

@media screen and (min-width: 992px) {

    #header.fix {
        position: fixed;
    }

        #header.fix .mainheader {
            box-shadow: 0 4px 2px -2px #999;
        }

        #header.fix.up {
            margin-top: 0;
        }
}

#header {
    background: #e41c39;
}

    #header #logo-wrapper .headertop {
        margin: 0;
        padding: 0;
        display: block;
    }

    #header #logo-wrapper .topContacts {
        font-size: 0.8rem;
        position: absolute;
        text-align: right;
        top: 3.2rem;
        right: 0;
        color: #fff;
    }

        #header #logo-wrapper .topContacts a {
            color: inherit;
        }

@media screen and (max-width: 991px) {
    #header #logo-wrapper .headertop {
        padding-right: 10px;
    }
}

#header #logo-wrapper .bg-grey {
    padding: 0;
    background: #e41c39;
}

#header #logo-wrapper .headertop .social {
    background: #fff;
    color: #e41c39;
    text-align: center;
    display: inline-block;
    margin: 5px 10px 0;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
}

    #header #logo-wrapper .headertop .social:hover {
        background: rgba(255,255,255,0.5);
    }

    #header #logo-wrapper .headertop .social:last-of-type {
        margin-right: 10px;
    }



@media screen and (max-width: 991px) {
    #header .logo {
        float: none!important;
        text-align: center;
        padding: 10px 0;
    }
}

@media screen and (min-width: 992px) {
    #header .navbar-header {
        float: none !important;
    }

    #header .logo {
        position: absolute;
        top: 0;
        left: 0px;
        text-align: left;
    }

        #header .logo a {
            background-position: center !important;
        }

            #header .logo a img {
                max-height: 78px;
            }


    #header .navbar-nav,
    #header .navbar-nav > li {
        float: none;
        text-align: center;
    }

        #header .navbar-nav > li > a {
            box-shadow: 0 0 0 0 #fff inset;
        }

        #header .navbar-nav > li.active > a {
            box-shadow: 0 -5px 0 0 #fff inset;
        }

        #header .navbar-nav.desktopmenu {
            display: -webkit-flex !important;
            display: flex !important;
            -webkit-justify-content: center;
            justify-content: center;
            /*margin-top: 45px;*/
        }

    #header #logo-wrapper .headertop ul {
        display: table !important;
        padding: 0;
        height: 50px;
    }

        #header #logo-wrapper .headertop ul li {
            padding: 0 15px;
            display: table-cell;
            vertical-align: middle;
        }

            #header #logo-wrapper .headertop ul li:last-of-type {
                margin-right: 50px;
            }

            #header #logo-wrapper .headertop ul li a:before {
                content: '\f105';
                font-family: FontAwesome;
                display: inline-block;
                margin: 0 15px;
            }

    @media screen and (max-width: 1199px) {
        #header .navbar .nav > li > a {
            font-size: 14px;
        }
    }
}

#header #logo-wrapper .contactnumber {
    font-family: 'Open Sans', Arial, sans-serif;
}

    #header #logo-wrapper .contactnumber a.headnumber {
        /*font-family: "open sans", sans-serif;*/
    }

@media screen and (min-width: 992px) {
    #header #logo-wrapper .contactnumber {
        display: inline-block;
        vertical-align: middle;
        font-weight: normal;
        padding-left: 10px;
        padding-right: 10px;
        letter-spacing: 1px;
        line-height: 1;
        text-transform: uppercase;
        font-size: 0.8rem;
        text-align: left;
        font-weight: normal;
    }

        #header #logo-wrapper .contactnumber a.headnumber:before {
            content: "Tollfree";
            display: inline-block;
            letter-spacing: 1px;
            margin: 0 20px;
        }

        #header #logo-wrapper .contactnumber span:not(.visible-xs) {
            display: inline-block !important;
        }

    #header #logo-wrapper .headertop, #header #logo-wrapper .headertop a {
        color: #fff;
    }

        #header #logo-wrapper .headertop li .small-logos {
            margin-left: 10px;
        }
}

@media screen and (max-width: 767px) {
    #header #logo-wrapper .container,
    #header #logo-wrapper .mobilehead {
        background: #fff !important;
    }

    #header #logo-wrapper .mobilehead {
        width: 100%;
    }

        #header #logo-wrapper .mobilehead .navbar-toggle,
        #header #logo-wrapper .mainheader h1,
        #header #logo-wrapper .mobilehead a.headnumber {
            color: #fff !important;
        }

            #header #logo-wrapper .mobilehead .navbar-toggle .icon-bar {
                background: #fff !important;
            }

    #header #logo-wrapper .logo {
        top: 0;
        width: 100%;
        text-align: left;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #header #logo-wrapper .mainheader h1,
    #header #logo-wrapper .mainheader .mobilehead {
        margin-right: 0;
        width: 100%;
    }

    #header #logo-wrapper .mainheader h1 {
       position: absolute;
    /*top: 50%;*/
    right: 50%;
    transform: translate3d(19%,50%,0);
    padding: 0 !important;
    }
}

@media screen and (max-width: 991px) {

    #header #logo-wrapper .mobilehead {
        background: #e41c39 !important;
        display: table !important;
        /*width: 100%;*/
    }

        #header #logo-wrapper .mobilehead img {
            display: block;
            margin: 0 auto;
            max-height: 80px;
        }

    #header .navbar-header .navbar-collapse.collapse {
        display: none !important;
    }

    #header #logo-wrapper .mobilehead > *:not(.clearfix) {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        float: none;
        width: 50%;
        /* padding-top: 27px; */
    }

    #header #logo-wrapper .mobilehead > *.text-right:not(.clearfix) {
        text-align: right;
    }

    #header #logo-wrapper .mobilehead .mobilelogo {
        width: 80%;
    }

    #header #logo-wrapper .mobilehead a.headnumber {
        border: 1px solid;
        color: #fff;
        padding: 0 5px;
    }

    #header #logo-wrapper .mobilehead .navbar-toggle {
        float: none;
        color: #fff;
        outline: none !important;
        width: 50px;
        margin: 0;
        padding: 9px 0px;
        display: block;
    }

        #header #logo-wrapper .mobilehead .navbar-toggle .icon-bar {
            background: #ffffff;
            margin-left: auto;
            margin-right: auto;
            transform-origin: 0;
            transition: 0.5s all;
        }

            #header #logo-wrapper .mobilehead .navbar-toggle .icon-bar + .icon-bar {
                margin-top: 6px;
            }

            #header #logo-wrapper .mobilehead .navbar-toggle .icon-bar:nth-of-type(2) {
                transform-origin: 50% 50%;
            }

        #header #logo-wrapper .mobilehead .navbar-toggle:not(.collapsed) .icon-bar:first-of-type {
            translate: rotate(45deg);
            -webkit-transform: rotate(45deg);
        }

        #header #logo-wrapper .mobilehead .navbar-toggle:not(.collapsed) .icon-bar:nth-of-type(2) {
            transform: scale(0);
            -webkit-transform: scale(0);
        }

        #header #logo-wrapper .mobilehead .navbar-toggle:not(.collapsed) .icon-bar:last-of-type {
            translate: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }

    #header .navbar-header .navbar-collapse {
        max-height: none;
        overflow: hidden;
    }
}



@media screen and (min-width: 768px) and (max-width: 991px) {

    #header .navbar-nav.mobilemenu li {
        width: 33%;
    }

    #header #logo-wrapper .mobilehead .mobile-toggle {
        padding-left: 33px;
    }

    #header #logo-wrapper .mobilehead > * {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    #header #logo-wrapper .headertop li.contactnumber {
        margin: 0;
    }
}

@media screen and (max-width:1199px) and (min-width:992px) {
    #header .headnumber {
        color: #fff;
        border: 1px solid #fff;
        padding: 2px 5px;
        position: absolute;
        right: 12px;
        top: 5px;
    }
}

#header #logo-wrapper .mainheader {
    background: none;
    position: relative;
}

    #header #logo-wrapper .mainheader h1 {
        font-size: 1.2rem;
        text-align: right;
        text-transform: uppercase;
        color: #fff;
        margin: 0;
        padding-top: 15px;
        padding-right: 10px;
    }

/*#header #logo-wrapper .mainheader .logo img {
        max-width: 350px !important;
    }*/

@media screen and (min-width: 992px) {
    #header #logo-wrapper .mobilehead img {
        visibility: hidden;
    }

    #header #logo-wrapper .mainheader {
        /*display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: flex-end;
        align-items: flex-end;*/
    }

        #header #logo-wrapper .mainheader > *:not(.logo) {
            flex: 1;
        }
}

@media screen and (max-width:991px) {

    .mobile-wrap {
    }
}

@media screen and (max-width:767px) {
    #header #logo-wrapper .mainheader h1 {
        position: absolute;
       
        left: 50%;
        transform: translate3d(-50%,0%,0);
        font-size: 0.7rem;
        color: #fff !important;
    }
}

#header .navbar {
    margin: 0;
    min-height: 0;
    border: 0;
    position: static;
    font-family: 'Open Sans', Arial, sans-serif;
    letter-spacing: 1px;
}

#header .navbar-collapse.collapse {
    padding: 0;
}

#header .navbar .nav > li > a {
    padding: 11px 10px;
    text-transform: uppercase;
    font-weight: 600;
    /*font-size: 12px;*/
    white-space: nowrap;
    color: #fff;
}

    #header .navbar .nav > li:hover > a,
    #header .navbar .nav > li.open > a,
    #header .navbar .nav > li.active > a,
    #header .navbar .nav > li > a:focus {
        background: none;
    }

@media screen and (min-width: 992px) {
    #header .navbar .nav > li:hover > a,
    #header .navbar .nav > li.open > a,
    #header .navbar .nav > li.active > a,
    #header .navbar .nav > li > a:focus {
        background: #e41c39;
        color: #fff;
    }
}

@media screen and (max-width: 991px) {
    #header {
        position: relative;
        background: #fff;
    }

        #header .container {
            width: 100%;
        }

        #header #logo-wrapper .mainheader {
            text-align: center;
        }

            #header #logo-wrapper .mainheader .navbar-header {
                display: block;
                float: none !important;
                clear: both;
            }

                #header #logo-wrapper .mainheader .navbar-header .navbar-nav {
                    float: none;
                    border: 0;
                    margin: 0 -15px;
                    background: #fff;
                }

        #header .navbar-header .navbar-toggle {
            display: none;
        }

        #header #logo-wrapper .mainheader .navbar-header .navbar-nav > li {
            float: none;
            display: inline-block;
        }

        #header .navbar .nav > li > a {
            color: #e41c39;
        }
}

@media screen and (min-width: 768px) and (max-width:1199px) {
    .desktophead {
        float: none !important;
    }
}

@media screen and (min-width:1299px) {
    #header .navbar .nav > li > a {
    }
}

@media screen and (max-width: 400px) {

    #header .headertop img {
        width: 30px;
    }

    #header .navbar-header .navbar-toggle {
        top: 4px;
    }
}
/* Full width drop down */

#header .navbar .nav > li.dropdown.wide img {
    display: none;
}

#header .navbar .nav > li.dropdown .dropdown-menu {
    border-radius: 0;
    margin-top: -1px;
    border: 0;
    background: #e41c39;
    background: #fff;
    text-align: left;
}

    #header .navbar .nav > li.dropdown .dropdown-menu > li > a {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

        #header .navbar .nav > li.dropdown .dropdown-menu > li > a:active,
        #header .navbar .nav > li.dropdown .dropdown-menu > li:hover > a {
            background: #dfdfdf;
            color: #333;
        }

.wrapper.collapse,
.wrapper.collapsing,
.wrapper.in {
    display: block !important;
    height: auto !important;
}

@media screen and (max-width: 991px) {

    .wrapper.in {
        overflow: hidden;
        height: 100vh !important;
    }

        .wrapper.in #header {
            position: fixed;
            top: 0;
            left: 0;
            height: 100% !important;
            overflow-y: scroll;
                z-index: 999;
        }

    #header .navbar .nav > li.dropdown.wide ul li:hover a {
        background: #575C5F;
        color: #fff;
    }

    #header .navbar .nav a {
        text-align: left;
    }
}

#header .navbar-nav.mobilemenu {
    text-align: center;
}

    #header .navbar-nav.mobilemenu li {
        display: inline-block;
        width: 30%;
        vertical-align: top;
    }

        #header .navbar-nav.mobilemenu li a {
            text-align: center;
            font-size: 9px;
            font-family: "Open Sans";
            line-height: 1.5em;
            white-space: initial;
        }

        #header .navbar-nav.mobilemenu li img {
            display: block;
            margin: 0 auto 5px;
            max-height: 75px;
        }

@media screen and (min-width: 992px) {
    #header .navbar .nav > li.dropdown.wide ul a {
        color: #fff;
    }

    #header #logo-wrapper .mainheader .navbar-header .navbar-nav > li:hover .dropdown-menu {
        display: block;
    }

    #header .navbar .nav > li.dropdown.wide {
        position: static;
    }

        #header .navbar .nav > li.dropdown.wide .dropdown-menu {
            width: 100%;
            text-align: center;
        }

            #header .navbar .nav > li.dropdown.wide .dropdown-menu li {
                display: inline-block;
                vertical-align: top;
            }

            #header .navbar .nav > li.dropdown.wide .dropdown-menu.cars li {
                width: 24.5%;
                margin-left: 0px;
            }

            #header .navbar .nav > li.dropdown.wide .dropdown-menu.buying-tools li {
                width: 19.5%;
            }

                #header .navbar .nav > li.dropdown.wide .dropdown-menu.buying-tools li a {
                    background: #e41c39 !important;
                    display: block;
                    margin: 1%;
                    color: #fff;
                }

            #header .navbar .nav > li.dropdown.wide .dropdown-menu li + li {
                margin-left: -3px;
            }

            #header .navbar .nav > li.dropdown.wide .dropdown-menu li a {
                white-space: normal;
                color: #101010;
                padding: 10px 0;
                background: none !important;
                -ms-transition: 1s all;
                transition: 1s all;
            }

            #header .navbar .nav > li.dropdown.wide .dropdown-menu:not(.buying-tools) li:hover a {
                color: #fff;
                color: #e41c39;
            }

        #header .navbar .nav > li.dropdown.wide img {
            display: block;
            margin: 0 auto 5px;
            transition: 1s all;
        }

        #header .navbar .nav > li.dropdown.wide .dropdown-menu.cars li a img {
            margin-bottom: 0px;
            max-width: 80% !important;
        }

        #header .navbar .nav > li.dropdown.wide .dropdown-menu.cars li:hover a img {
            -moz-transform: scale(1.1) translate(0,-5px);
            -webkit-transform: scale(1.1) translate(0,-5px);
            -ms-transform: scale(1.1) translate(0,-5px);
            -o-transform: scale(1.1) translate(0,-5px);
            transform: scale(1.1) translate(0,-5px);
            behavior: url(ms-transform.htc);
        }

        #header .navbar .nav > li.dropdown.wide .dropdown-menu.buying-tools li:hover a img {
            -webkit-animation: rotatey 1s 1;
            -ms-animation: rotatey 1s 1;
            -moz-animation: rotatey 1s 1;
            animation: rotatey 1s 1;
            behavior: url(ms-transform.htc);
        }
}

@-webkit-keyframes rotatey {
    0 {
        -webkit-transform: rotateY(0deg);
    }

    100% {
        -webkit-transform: rotateY(360deg);
    }
}

@-ms-keyframes rotatey {
    0 {
        -ms-transform: rotateY(0deg);
        behavior: url(ms-transform.htc);
    }

    100% {
        -ms-transform: rotateY(360deg);
        behavior: url(ms-transform.htc);
    }
}

@-moz-keyframes rotatey {
    0 {
        -moz-transform: rotateY(0deg);
    }

    100% {
        -moz-transform: rotateY(360deg);
    }
}

@keyframes rotatey {
    0 {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* slider */

#slider-wrap {
    position: relative;
}

@media screen and (min-width:992px) {
    #slider-wrap .slider-enquire-form .slider-form {
        width: 25%;
    }

    #slider-wrap .slider-form {
        position: absolute;
        bottom: 21%;
        background-color: rgba(255,255,255,1);
        opacity: 0.7;
        padding: 15px 15px 15px;
        box-shadow: 0px 1px 2px #ccc;
    }

    #slider-wrap .item:hover .slider-form {
        opacity: 1;
        box-shadow: 0px 1px 2px #555;
    }
}

/*#slider .item {
    height: 0;
    padding-bottom: 38.41%;
}

@media screen and (max-width: 767px) {
    #slider .item {
        padding-bottom: 124.115%;
    }
}*/

#slider .item img {
    width: 100%;
    /*position: absolute;
    bottom: 0;*/
}

@media screen and (min-width: 992px) {
    #slider:not(.inner) .item img {
        right: 0;
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        z-index: 1;
    }

    #slider:not(.inner) .item .container {
        position: relative;
        /*height: 517px;*/
        padding: 0;
    }

    #slider .carousel-caption {
    }
}

@media screen and (min-width: 1170px) {
    #slider .item .container:not(.carousel-caption) {
        /*height: 551px;*/
    }
}

#slider .carousel-indicators li {
    border-radius: 0;
}

    #slider .carousel-indicators li:only-child {
        display: none;
    }

#slider .carousel-caption {
    left: 0%;
    right: 0%;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    behavior: url(ms-transform.htc);
    text-align: left;
    top: 5%;
}

    #slider .carousel-caption h1 {
        color: #000;
        font-size: 80px;
        text-transform: uppercase;
        text-shadow: none;
        font-family: 'Open Sans', Arial, sans-serif;
        line-height: 75px;
        letter-spacing: 5px;
    }

@media screen and (min-width: 501px) {
    #slider .carousel-caption.one-cap {
        top: auto;
        bottom: 10px;
    }
}

#slider .carousel-caption.one-cap h1 {
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

@media screen and (max-width: 991px) {
    #slider .carousel-caption {
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        -o-transform: scale(0.85);
        transform: scale(0.85);
        behavior: url(ms-transform.htc);
        top: 5%;
    }
}

@media screen and (max-width: 767px) {
    #slider .carousel-caption {
        -webkit-transform: scale(0.78);
        -moz-transform: scale(0.78);
        -ms-transform: scale(0.78);
        -o-transform: scale(0.78);
        transform: scale(0.78);
        behavior: url(ms-transform.htc);
        bottom: 10px;
        top: 0%;
    }
}

@media screen and (max-width: 500px) {
    #slider .carousel-caption {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
        behavior: url(ms-transform.htc);
        bottom: 0px;
    }

        #slider .carousel-caption.one-cap {
            -webkit-transform: scale(0.35);
            -moz-transform: scale(0.35);
            -ms-transform: scale(0.35);
            -o-transform: scale(0.35);
            transform: scale(0.35);
            behavior: url(ms-transform.htc);
        }
}

#slider .carousel-control {
    color: #fff;
    opacity: 0.8;
    z-index: 100;
}

@media screen and (max-width: 992px) {
    #slider .carousel-control {
        width: 50px;
    }
}
/* Models */
#Models {
    position: relative;
}

    #Models #toggleModels {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 35px;
        background: url(../images/models.jpg) no-repeat bottom center;
    }

        #Models #toggleModels.hidemodels {
            background-position: top center;
        }

@media screen and (min-width:500px) and (max-width: 767px) {
    #Models #car-models {
        text-align: center;
    }

    #Models .car-model-wrap {
        display: inline-block;
        float: none;
        text-align: left;
        max-width: 100%;
    }
}

#Models .car-model .car-model-center {
    display: block;
}

    #Models .car-model .car-model-center + a {
        display: block;
        color: #999;
        margin-top: 5px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }

        #Models .car-model .car-model-center + a:hover {
            color: #e41c39;
        }

        #Models .car-model .car-model-center + a:before {
            content: '\e801';
            font-family: fontello;
            display: inline-block;
            margin-right: 5px;
            margin-left: 33%;
        }

@media screen and (min-width:768px) {
    #Models #car-models .car-model {
        text-align: center;
    }

    #Models .car-model .car-model-center {
        display: inline-block;
        text-align: left;
        max-width: 100%;
    }

        #Models .car-model .car-model-center div:not(.clearfix) {
            width: auto;
            float: none;
        }

        #Models .car-model .car-model-center + a:before {
            margin-left: 0;
        }
}

#Models .car-model {
    margin-bottom: 15px;
}

#Models .car-model-wrap {
    padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
    #Models .car-model {
        margin-top: 20px;
    }

        #Models .car-model .col-xs-5 {
            padding: 0;
            left: -15px;
        }
}

#Models .car-model p, #Models .car-model h4 {
    margin-bottom: 0;
}

#Models .car-model h4 {
    font-weight: bold;
    font-size: 26px;
    line-height: 20px;
}

#Models .car-model p {
    color: #e41c39;
    font-size: 26px;
    font-family: 'Open Sans', Arial, sans-serif;
}

#Models .car-model img {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 530px) {
    #Models .car-model h4 {
        margin-top: 0;
    }

    #Models .car-model p {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    #Models .car-model p {
        display: inline-block;
        min-width: 60%;
    }
}

.btntoggle:after {
    content: ' Less -';
}

.btntoggle.collapsed:after {
    content: ' More +';
}
/*Latest Updates*/
@media screen and (min-width: 992px) {
    #latest-updates .news, #latest-updates .video, #latest-updates .follow-facebook {
        min-height: 333px;
        display: block;
        float: left;
        width: 100%;
    }
}

#latest-updates {
    margin-bottom: 30px;
}

    #latest-updates h3.btn,
    #latest-updates a.h3.btn {
        padding: 10px;
        padding-right: 30px;
        text-transform: uppercase;
        margin-top: 20px;
    }

@media screen and (max-width: 992px) {
    #latest-updates h3.btn,
    #latest-updates a.h3.btn {
        margin-bottom: 20px;
    }

    #latest-updates .video {
        min-height: 0;
        text-align: center;
    }
}

#latest-updates .btn {
    position: relative;
}

#latest-updates h3.btn .fa,
#latest-updates a.h3.btn .fa {
    position: absolute;
    right: 10px;
    top: 13px;
}

#latest-updates .news .date {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 0;
}

#latest-updates .news .location {
    margin: 0;
    font-weight: bold;
}

    #latest-updates .news .location span {
        text-transform: uppercase;
    }

@media screen and (min-width: 992px) {
    #latest-updates #latestUpdatesRow.row,
    #latest-updates #latestUpdatesRow.row .col-md-4 {
        display: -webkit-flex;
        display: flex;
    }

        #latest-updates #latestUpdatesRow.row .col-md-4 {
            -webkit-flex-flow: column;
            flex-flow: column;
        }

            #latest-updates #latestUpdatesRow.row .col-md-4:not(:last-child) {
                box-shadow: 51px 0 0 -50px #bbb;
            }

        #latest-updates #latestUpdatesRow.row .button {
            margin-top: auto;
        }
}
/* call-to-action */

#call-to-action {
    height: auto !important;
}

@media screen and (min-width: 992px) {
    #call-to-action .action.col-md-3 {
        width: 20%;
    }
}

@media screen and (max-width: 991px) {
    #call-to-action .action {
        margin-bottom: 15px;
        background: #e41c39;
        overflow: hidden;
    }
}

#call-to-action.collapse {
    display: block;
}

#call-to-action.in {
    padding-top: 60px;
}

.action .gateway-image {
    background: #e41c39;
    position: relative;
}

    .action .gateway-image img {
        display: block;
        margin: 0 auto;
    }

.action {
    display: block;
}

    .action:before {
        content: '';
        height: 100%;
        left: -5px;
        width: 10px;
        position: absolute;
        top: 0;
        z-index: 10;
    }

#PageContent .action input {
    display: none;
}

    #PageContent .action input:checked + .row .action-text {
        background: #fff;
        color: #e41c39;
    }

@media screen and (min-width: 992px) {
    #call-to-action .action + .action:before {
        background: #fff;
    }

    #PageContent .action + .action:before {
        background: #fff;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    #call-to-action .action:nth-of-type(2n):before {
        background: #fff;
    }

    #PageContent .action:nth-of-type(2n):before {
        background: #fff;
    }
}

.action .action-text {
    color: #fff;
    margin: 2px 0 0;
    padding: 10px 0;
    line-height: 100%;
    font-size: 16px;
}

@media screen and (max-width: 1199px) {
    .action .action-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .action .gateway-image,
    .action .action-text {
        margin: 0;
        vertical-align: middle;
        float: none;
        display: inline-block;
        margin-left: -3px;
    }
}

@media screen and (max-width: 767px) {
    .action .gateway-image,
    .action .action-text {
        margin-left: 0px;
        margin-right: -3px;
    }

    .ie .action .action-text {
        display: inline-block;
    }

    .action .gateway-image {
        margin-left: -3px;
    }

    .action .action-text {
        padding: 0;
        background: none;
    }

    #PageContent .actions label {
        background: #e41c39;
    }

    #PageContent .action .action-text,
    #PageContent .action .gateway-image {
        float: none;
        display: table-cell;
    }
}

@media screen and (min-width: 992px) {
    .action .gateway-image img {
        margin-top: -30px;
    }

    .action .gateway-image {
        padding: 60px 0 70px;
    }

    .action .action-text {
        margin-top: -60px;
    }

        .action .action-text span {
            line-height: 5px;
        }

    #PageContent .action .gateway-image {
        padding: 60px 0 30px;
    }

    #PageContent .action .action-text {
        margin-top: -45px;
    }
}

/* PageContent */
#PageContent {
    position: relative;
}

    #PageContent a:not(.btn):not([data-toggle]) {
        color: #e41c39;
    }

        #PageContent a:not(.btn):not([data-toggle]):hover {
            color: #000;
        }

@media screen and (min-width: 768px) {
    #PageContent.bg {
        background-position: top right;
        background-size: cover;
    }

        #PageContent.bg.book-appointment {
            background-image: url(../images/banner/book-an-appointment.jpg);
        }

        #PageContent.bg.used-car {
            background-image: url(../images/banner/used-car.jpg);
        }

        #PageContent.bg.test-drive {
            background-image: url(../images/banner/test-drive.jpg);
        }
}

#PageContent.about-us .modiTabs .nav-tabs > li > a {
    padding: 10px;
}

#PageContent h1.page-name {
    text-align: center;
    margin-top: 0;
}

#PageContent.bg .form .form-group {
    margin-bottom: 0;
}

@media screen and (max-width: 767px) {
    #PageContent.bg h1 {
        text-align: center;
    }
}

#PageContent.bg h1 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, sans-serif;
    background: #e41c39;
    text-align: center;
    padding: 15px 5px;
}

/*#PageContent h2,
#PageContent h3,
#PageContent h4 {
    text-transform: uppercase;
}*/

#PageContent .inlinebg {
    padding: 0 15px;
    color: #FFF !important;
    display: inline-block;
    background: #e41c39;
}

#PageContent h2.inlinebg {
    padding: 5px 15px;
}

/* Home BookAServiceAppointmentForm*/
#BookAServiceAppointmentForm {
    padding: 4rem 0;
}
/* Forms on Banner */
#slider-wrap.bg + #PageContent h1 {
    color: #fff;
}

#PageContent .form {
    padding: 15px;
    color: #ccc;
}

@media screen and (min-width: 768px) {
    #PageContent .form-wrap .form {
        background: rgba(52, 52, 52, 0.5);
    }
}

@media screen and (max-width: 767px) {
    #PageContent .form-wrap {
        background: rgba(52, 52, 52, 0.5);
    }
}


#PageContent .form tr {
    display: inline-block;
    margin-left: 10px;
}

    #PageContent .form tr label {
        margin-left: 5px;
        color: #ccc;
    }

#PageContent .form label {
    font-weight: normal;
}

#PageContent .form .form-control {
    margin-bottom: 10px;
    padding: 7px 10px;
    border: 1px solid #e5e5e5 !important;
    height: auto;
}

#PageContent .form .input-group {
    margin-bottom: 10px;
    display: block;
    background: #fff;
}

    #PageContent .form .input-group .form-control {
        margin-bottom: 0px;
        border-right: 0 !important;
        width: 100%;
        background: none;
        position: relative;
        z-index: 10;
    }

    #PageContent .form .input-group .input-group-addon {
        border-radius: 0;
        background: #fff;
        border: 0px solid #e5e5e5;
        border-left: 0;
        position: absolute;
        right: 10px;
        color: #e41c39;
        top: 4px;
        background: none;
        z-index: 0;
    }
/* Insurance */
#PageContent .form-horizontal label {
    font-weight: normal;
    text-align: left;
}

#PageContent.insurance .form-group .btn-mahindra {
    max-width: 45%;
}
/* Finance */
#PageContent.finance .totals {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -1px;
    background: #fff;
    box-shadow: 0 -2px 0 -1px #EDEDEB, 0 2px 0 -1px #EDEDEB;
}

#PageContent.finance select {
    border: 1px solid #e41c39;
    height: auto;
}

@media screen and (max-width: 499px) {
    #PageContent.finance .totals .col-xs-6 {
        width: 100%;
        margin: 0;
    }
}

@media screen and (min-width: 500px) {
    #PageContent.finance .totals .text-left {
        text-align: right;
    }

    #PageContent.finance .totals .calcs {
        display: inline-block;
        text-align: right;
        min-width: 150px;
    }
}

@media screen and (max-width:767px) {
    #PageContent.finance #cars {
        margin-bottom: 10px;
    }
}

#PageContent.finance .btntoggle {
    display: none;
}

/* Car Details */
#PageContent.car-details h1.page-name span {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    background: #e41c39;
}

#PageContent.car-details #Variant h1 span,
#PageContent.car-details #Car-Colors h1 span {
    text-transform: uppercase;
}

/ /* Highlights */
#PageContent.car-details .highlightscarousel {
    color: #000;
    padding: 0;
}


#PageContent.car-details .highlightscarousel .slides .item {
    margin-right: 15px;
}

#PageContent.car-details .highlightscarousel .flex-direction-nav a {
    height: 215px;
}

#PageContent.car-details .highlightscarousel .hrow .himage img {
    border: 1px solid #333;
}

#PageContent.car-details .highlightscarousel .hrow > .hcontent > * {
    color: #595959;
}

#PageContent.car-details .highlightscarousel .hrow .hcontent h5 {
    padding-bottom: 5px;
    text-transform: uppercase;
}
/* Gallery */


/* Gallery */

#PageContent #GalleryCarousel {
    margin-bottom: 15px;
    padding: 0;
}

@media screen and (min-width: 992px) {
    #PageContent #GalleryCarousel img {
        width: 70%;
        margin: 0 auto;
    }
}

#PageContent #GalleryCarousel h3 {
    margin-top: 10px;
}

#PageContent #GalleryCarousel .flex-direction-nav a {
    width: 50%;
    opacity: 0;
}

#PageContent #GalleryCarousel .flex-direction-nav .flex-prev {
    left: 0;
}

#PageContent #GalleryCarousel .flex-direction-nav .flex-next {
    right: 0;
}

#PageContent #GalleryCarouselThumbs li {
    margin-right: 15px;
}

    #PageContent #GalleryCarouselThumbs li img {
        display: block;
    }

    #PageContent #GalleryCarouselThumbs li:not(.flex-active-slide) {
        opacity: 0.5;
        transition: 0.2s;
    }

#PageContent .flex-direction-nav a {
    font-size: 0;
}


#PageContent.car-details .modiTabs .nav-tabs a > * {
    color: #fff;
}

#PageContent.car-details .modiTabs .nav-tabs h4 {
    font-weight: normal;
}

#PageContent.car-details table {
    min-width: 100%;
    margin-top: 30px;
}

    #PageContent.car-details table th {
        background: #EBEBEB;
    }

    #PageContent.car-details table tr > * {
        padding: 5px 10px;
    }

    #PageContent.car-details table tr.variantrow td {
        padding-top: 10px;
        padding-bottom: 20px;
        font-size: 0.9em;
    }

        #PageContent.car-details table tr.variantrow td:first-of-type {
            color: #C3002B;
            font-weight: bold;
            text-transform: uppercase;
        }

    #PageContent.car-details table tr.variantrow + tr.variantrow {
        border-top: 1px solid #ebebeb;
    }


/* Locate Us */
#PageContent .address-wrap {
    position: relative;
    text-transform: uppercase;
}

    #PageContent .address-wrap h4 {
        min-height: 38px;
    }

    #PageContent .address-wrap .address .address-inner {
        /*border: 1px solid #C8C8C8;
        padding: 15px 15px;*/
    }

    #PageContent .address-wrap .address h4 {
        margin: 0;
        /*padding-left: 50px;*/
        /*min-height: 50px;*/
        color: #292829;
        /*border-bottom: 1px dashed #C8C8C8;*/
    }

    #PageContent .address-wrap .address h5 {
        font-size: 16px;
        color: #292829;
    }

    #PageContent .address-wrap .address .h6 {
        padding-left: 30px;
        padding-right: 30px;
        display: block;
        font-size: 14px;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #C8C8C8;
        background-position: 2px 0;
        background-repeat: no-repeat;
        display: none;
        position: relative;
    }

        #PageContent .address-wrap .address .h6:first-of-type {
            margin-top: 15px;
        }

        #PageContent .address-wrap .address .h6:after,
        #PageContent .address-wrap .address .email:after {
            content: '\e806';
            font-family: "fontello";
            position: absolute;
            right: 10px;
            top: 0;
            color: #e41c39;
            font-weight: bold;
        }

        #PageContent .address-wrap .address .h6.directions {
            background-image: url('../images/address-direction.jpg');
        }

        #PageContent .address-wrap .address .h6.map {
            background-image: url('../images/address-pin.jpg');
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

    #PageContent .address-wrap .address strong .red {
        font-size: 0.9em;
    }

        #PageContent .address-wrap .address strong .red:before {
            content: 'CALL US AT ';
        }

    #PageContent .address-wrap .address .contact {
        border-top: 1px dashed #C8C8C8;
    }

    #PageContent .address-wrap .address .email {
        border-top: 1px dashed #C8C8C8;
        position: relative;
        border-bottom: 1px dashed #C8C8C8;
        padding: 10px 0;
        padding-left: 30px;
        display: block;
        margin-bottom: 10px;
        background-image: url('../images/address-envelope.jpg');
        background-position: 2px 13px;
        font-weight: bold;
        text-decoration: underline;
        background-repeat: no-repeat;
    }

        #PageContent .address-wrap .address .email:after {
            top: 10px;
        }

    #PageContent .address-wrap .btntoggle {
        padding-top: 10px;
        text-align: center;
        display: block;
    }

        #PageContent .address-wrap .btntoggle:focus {
            color: #000;
        }

        #PageContent .address-wrap .btntoggle:before {
            content: 'Collapse';
            font-weight: bold;
        }

        #PageContent .address-wrap .btntoggle.collapsed:before {
            content: 'Expand';
        }

        #PageContent .address-wrap .btntoggle:after {
            color: #e41c39;
            font-weight: bold;
            content: ' -';
        }

        #PageContent .address-wrap .btntoggle.collapsed:after {
            content: ' +';
        }

@media screen and (max-width: 767px) {
    #PageContent .address-wrap .address ~ .address {
        margin-top: 1rem;
    }
}
/* Car Colors */

#Car-Colors .color {
    padding: 0;
    text-align: center;
}

    #Car-Colors .color p {
        margin-top: 10px;
        font-weight: bold;
        color: #575A5D;
    }
/* Finance */
#On-Road-Price {
    position: relative;
}

    #On-Road-Price .btntoggle {
        text-decoration: underline;
        color: #e41c39;
    }

@media screen and (min-width: 768px) {
    #PageContent:not(.finance) #On-Road-Price {
        /*margin-top: -75px;*/
    }
}

#On-Road-Price .on-road-price {
    margin-top: 20px;
    margin-bottom: 15px;
}

@media screen and (max-width: 992px) {

    #On-Road-Price .on-road-price {
        float: none;
    }
}

#On-Road-Price .on-road-price label {
    font-weight: normal;
}

#On-Road-Price .on-road-price > div + div {
    border-top: 2px solid #fff;
    padding-top: 4px;
}

#On-Road-Price .on-road-price .total {
    border-color: #e41c39;
}

    #On-Road-Price .on-road-price .total > * {
        font-weight: bold;
    }

#On-Road-Price .on-road-price span label {
    width: 110px;
    text-align: right;
}

@media screen and (max-width: 500px) {
    #On-Road-Price .on-road-price > div > * {
        display: block;
        float: none !important;
    }

    #On-Road-Price .on-road-price > div > span label {
        display: inline;
    }

    #On-Road-Price .on-road-price > div label {
        margin: 5px 0 -2px;
        font-weight: bold;
    }

    #On-Road-Price .on-road-price > div span {
        margin: 0 0 5px;
    }
}

#PageContent .sliders h4 {
    margin-top: -15px;
    margin-bottom: 40px;
}

@media screen and (max-width: 500px) {
    #PageContent .sliders h4 {
        margin-top: 0px;
    }
}

#PageContent .sliders .btntoggle {
    display: none;
}

#PageContent .calculations h3 {
    color: #5B5B5B;
}
/* Contact */
#Contact {
    position: relative;
}
#Contact .section-head {
    margin-bottom: 0;
}

    /*#Contact .container:first-child {
        border-top: 1px solid #333;
    }*/

@media screen and (min-width:992px) {
    #Contact .row .col-md-4 {
        min-height: 390px;
    }

    #Contact #contactRow.row,
    #Contact #contactRow.row .col-md-4 {
        display: -webkit-flex;
        display: flex;
    }

        #Contact #contactRow.row .col-md-4 {
            -webkit-flex-flow: column;
            flex-flow: column;
        }

            /*#Contact #contactRow.row .col-md-4:not(.footer-enquire-form) {
                box-shadow: 51px 0 0 -50px #bbb;
            }*/

        #Contact #contactRow.row .footer-enquire-form {
            order: 3;
        }
       
}
 
#Contact .about img {
    margin-top: 15px;
    margin-bottom: 10px;
}

#Contact .location-head,
#latest-updates .sub h4 {
    padding: 7px 30px;
    display: block;
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    border: 1px solid #e41c39;
    margin: 0 auto 15px;
    max-width: 80%;
}

@media screen and (max-width: 991px) {
    #contactRow > *:not(:first-of-type) h4 {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 768px) {
    #Contact .location-head,
    #latest-updates .sub h4 {
        text-align: center;
        min-width: 150px;
    }
}

#Contact .location .location-address {
    color: #5B5B5B;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

    #Contact .location .location-address a {
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5em;
    }

        #Contact .location .location-address a strong {
            font-family: 'Open Sans', Arial, sans-serif;
        }

    #Contact .location .location-address:first-of-type {
        border: 0;
        padding: 0;
    }

/* Offers */
#PageContent.offers .offer {
    text-align: center;
}

    #PageContent.offers .offer + .offer {
        margin-top: 20px;
    }

    #PageContent.offers .offer .offer-image {
        padding: 0;
        border: 1px solid #ddd;
    }

    #PageContent.offers .offer .offer-content {
        text-align: left;
    }

        #PageContent.offers .offer .offer-content h2 {
            margin-top: 10px;
        }

        #PageContent.offers .offer .offer-content h4 {
            margin: 0;
            color: #e41c39;
        }

        #PageContent.offers .offer .offer-content h5 {
            font-family: 'Open Sans', Arial, sans-serif;
        }

        #PageContent.offers .offer .offer-content .btn {
            display: block;
            float: none;
            margin: 0px 0 15px;
            font-size: 16px;
            text-align: left;
            padding-right: 20px;
            position: relative;
        }

            #PageContent.offers .offer .offer-content .btn:after {
                content: '\e806';
                font-family: "fontello";
                position: absolute;
                right: 7px;
                top: 8px;
                font-size: 13px;
            }

@media screen and (max-width: 767px) {
    #PageContent.offers .offer:nth-of-type(2n) {
        background: #f5f5f5;
        padding: 20px 15px;
    }

    #PageContent.offers .offer .offer-image {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) {
    .offer > div[class*=offer-] {
        display: inline-block;
        float: none;
        margin-left: -3px;
        vertical-align: middle;
    }
}
/* footer */

#footer {
    font-size: 13px;
    padding-bottom: 0;
}

    #footer .dark {
        background: #343434;
        padding: 15px;
        margin-top: 20px;
    }

    #footer h2,
    #footer h5 {
        color: #fff;
        text-transform: uppercase;
    }

    #footer h2 {
        font-size: 1.5rem;
    }

    #footer a {
        font-size: 13px;
        color: #fff;
    }

    #footer ul {
        padding: 0;
        list-style: none;
    }

    #footer .horizontal-menu {
        padding-bottom: 7px;
        border-bottom: 1px solid #777;
        display: block;
    }

        #footer .horizontal-menu li {
            display: inline-block;
        }

            #footer .horizontal-menu li a {
                padding: 0 10px;
                margin: 5px 0;
                display: block;
                line-height: 1.2em;
                -moz-box-shadow: -3px 0 0 -2px #000;
                -webkit-box-shadow: -3px 0 0 -2px #000;
                box-shadow: -3px 0 0 -2px #000;
                color: #aaa;
            }

            #footer .horizontal-menu li:first-of-type a {
                padding-left: 0;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

    #footer ul.social li {
        display: inline-block;
        margin-right: 10px;
    }

    #footer .credits {
        color: #aaa;
        margin-top: 10px;
        border-top: 1px solid #555;
        padding-top: 15px;
    }

@media screen and (max-width: 991px) {
    #footer img {
        margin-bottom: 15px;
    }

    #footer .credits {
        padding-left: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (min-width: 992px) {
    #footer img {
        position: relative;
        top: 18px;
    }
}

@media screen and (max-width: 991px) {
    #footer [class*="pull-"] {
        float: none !important;
    }

    #footer .horizontal-menu, #footer p {
        text-align: center;
    }

    #footer {
        padding: 0;
    }

        /*#footer .dark {
            padding: 15px 0 0;
        }*/
}

@media screen and (max-width: 767px) {
    #footer .dark .row .col-xs-4 {
        min-height: 180px;
    }
}

@media screen and (max-width: 450px) {
    #footer .dark .row .col-xs-4 {
        width: 50%;
        min-height: 0;
    }
}

.secemail {
    display: none;
}
/* Date Time Picker */
.datetimepicker {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    text-align: center;
    width: 228px;
    z-index: 0 !important;
}

    .datetimepicker table {
        margin: 0 auto;
        width: 100%;
    }

        .datetimepicker table thead tr:nth-of-type(2) {
            background: #e41c39;
            color: #fff;
        }

    .datetimepicker .input-group-addon {
        cursor: pointer;
    }

    .datetimepicker th {
        text-align: center;
        font-weight: bold;
    }

    .datetimepicker a {
        color: #009CAD;
    }

    .datetimepicker .btn-primary {
        background: #009CAD;
    }

    .datetimepicker .day:not(.disabled) {
        cursor: pointer;
        font-weight: bold;
    }

    .datetimepicker .day {
        text-align: center;
    }

        .datetimepicker .day.disabled {
            color: #999;
        }

        .datetimepicker .day.today {
            position: relative;
            color: #e41c39;
        }

        .datetimepicker .day:not(.disabled):hover,
        .datetimepicker .day.active:not(.today),
        .datetimepicker-hours .hour:hover,
        .datetimepicker-hours .hour.active {
            color: #009CAD;
        }

.datetimepicker-hours .hour {
    cursor: pointer;
    display: inline-block;
    padding: 7px;
}

.picsgrid {
    margin-left: -10px;
    margin-right: -10px;
}

    .picsgrid > [class^="col-"] {
        padding: 10px;
    }

#jpreOverlay {
    background: rgba(0,0,0,0.8);
}

    #jpreOverlay h1 {
        color: #fff;
    }

#jSplash {
    padding: 0 20px;
}

#jpreSlide, #jpreLoader {
    width: 100%;
}

#jpreLoader {
    height: 10px !important;
    top: auto !important;
    bottom: 0;
    position: fixed;
}

#jpreBar {
    background: #fff;
}

/* Testimonials */
#Testimonial .testimonial {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    position: relative;
}

    #Testimonial .testimonial:after,
    #Testimonial .testimonial:before {
        content: '';
        display: block;
        height: 50px;
        width: 50px;
        margin: 10px auto;
    }

    #Testimonial .testimonial:before {
        background: url(../images/qleft.jpg) center center no-repeat;
    }

    #Testimonial .testimonial:after {
        background: url(../images/qright.jpg) center center no-repeat;
    }

    #Testimonial .testimonial p {
        margin-bottom: 0;
    }

        #Testimonial .testimonial p.quote {
            margin-bottom: 20px;
        }

@media screen and (min-width: 768px) {
    #Testimonial .testimonial {
        padding: 0 20%;
        margin: 20px auto 30px;
        font-size: 1.1em;
    }

        #Testimonial .testimonial:after,
        #Testimonial .testimonial:before {
            position: absolute;
            margin: 0;
        }

        #Testimonial .testimonial:before {
            left: 0;
            top: 0;
        }

        #Testimonial .testimonial:after {
            right: 0;
            bottom: 15px;
        }
}
